<div class="main-content">
    <mat-card>
        <mat-card-header>
            <div class="flex-header">
                <div>
                    <h1>{{'Request Builder'}}</h1>
                </div>
                <div class="history-button">
                    <button mat-raised-button (click)="goToList('list')">History</button>
                </div>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-header">
                <div>
                    <mat-form-field>
                        <mat-label>Http Method</mat-label>
                        <mat-select [(value)]="selectedHttpMethod">
                            <mat-option *ngFor="let method of methods" [value]="method.value">
                                {{method.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="url-full-width" hideRequiredMarker>
                        <mat-label>URL</mat-label>
                        <input matInput type="text" [(ngModel)]="url" required placeholder="https://www.google.ru/">
                    </mat-form-field>
                </div>
            </div>
            <mat-tab-group>
                <mat-tab label="Headers">
                    <div>
                        <mat-list>
                            <mat-list-item *ngFor="let header of headers">

                                <mat-form-field class="header-elem">
                                    <mat-label>KEY</mat-label>
                                    <input matInput type="text" [(ngModel)]="header.key" placeholder="key">
                                </mat-form-field>

                                <mat-form-field class="header-elem">
                                    <mat-label>VALUE</mat-label>
                                    <input matInput type="text" [(ngModel)]="header.value" placeholder="value">
                                </mat-form-field>

                                <button class="header-elem" mat-raised-button color="warn"
                                    (click)="deleteHeader(header.index)">Delete</button>

                            </mat-list-item>
                        </mat-list>
                        <button class="add_header" mat-raised-button (click)="addHeader()">Add Header</button>
                    </div>
                </mat-tab>
                <mat-tab label="Content">
                    <mat-form-field appearance="fill" class="content-area">
                        <mat-label>Content</mat-label>
                        <textarea matInput [(ngModel)]="source"></textarea>
                    </mat-form-field>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>

    </mat-card>
    <mat-card class="task-panel">
        <mat-card-content>
            <div class="flex-footer">
                <div class="footer-elem">
                    <mat-form-field>
                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                            [formControl]="dateControl">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>
                <div class="footer-elem">
                    <button mat-raised-button color="success" (click)="send()">Send</button>
                </div>

            </div>
        </mat-card-content>
    </mat-card>
</div>