
mat-card{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}
.url-full-width{
    width: 100%;
    margin-left: 10px;
}
.add_header{
    width: 100%;
}
.header-elem{
    margin: 5px;
}
mat-list-item{
    margin: 5px;
}
.mat-raised-button.mat-success{
        color: #f0fff3;
        background-color: #22bb33;
}
mat-select {
    width: fit-content !important;
    min-width: 100%;
}

::ng-deep .mat-form-field-infix {
    min-width: 50px !important;
    width: fit-content !important;
}

::ng-deep mat-select .mat-select-value {
    width: fit-content;
    min-width: 2ch;
    max-width: 25ch;
}
::ng-deep mat-select .mat-select-placeholder {
    width: fit-content;
    min-width: 10ch;
}

.flex-header{
    display: flex;
    width: 100%;
}
.flex-footer{
    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.footer-elem{
    margin: 5px;
}
.content-area{
    width: 100%;
    margin: 5px;
}
.history-button{
    margin-left: auto;

}
.task-panel{
    z-index: 1000;
    position: sticky;
    bottom: 10px;
}
.flex{
    display: flex;
}
.child{
    margin: auto;
}

.url-container{
    width: 100%;
    margin-right: 1%;
}